@import url("index.css");

.section__intro__top {
  background-image: url("../images/fotos/IMG_5715.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: grid;
  place-content: center;
  gap: 30px;
  color: #fff;
  text-align: center;
  position: relative;
}

.section__intro__top::after {
  background: rgb(17, 11, 115);
  background: linear-gradient(
    307deg,
    #073455e4 0%,
    #0b446dea 22%,
    #073455de 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
}

.section__intro__top h1 {
  font-size: 5.9vw;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  font-weight: 800;
}

.section__intro__top small {
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  font-weight: 500;
}

.section__intro__top .intro__acctions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 10;
}

.section__intro__top .intro__acctions a {
  background-color: #073455;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 500;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.section__intro__top .intro__acctions a:hover {
  color: #073455;
  background-color: #fff;
}

.section__intro__top .intro__acctions a.white {
  color: #073455;
  background-color: #fff;
}

.section__intro__top .intro__acctions a.white:hover {
  background-color: #073455;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .section__intro__top {
    height: 300px;
  }
}

/* ======================= */

.section__upcoming__events {
  display: grid;
  padding: 80px;
  gap: 20px;
}

.section__upcoming__events .events__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section__upcoming__events .events__list .card__event {
  background-color: #fff;
  color: #272727;
  display: grid;
  border-radius: 10px;
  transition: all ease-in-out 1s;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section__upcoming__events .events__list .card__event .card__image {
  height: 220px;
  position: relative;
}

.section__upcoming__events .events__list .card__event .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.section__upcoming__events .events__list .card__event .card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #555555;
}

.section__upcoming__events .events__list .card__event .card__content a,
.section__upcoming__events .events__buttons a {
  width: max-content;
  color: #fff;
  padding: 10px;
  margin-top: 16px;
  font-size: 12px;
  background-color: #073455;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.section__upcoming__events .events__buttons {
  display: grid;
  place-content: center;
  text-align: center;
}

.section__upcoming__events .events__buttons a {
  background-color: #fff;
  color: #272727;
  border: solid #272727 1px;
  padding: 14px;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}

.section__upcoming__events .events__buttons a:hover {
  color: #fff;
  background-color: #073455;
  border-color: transparent;
}

@media screen and (max-width: 992px) {
  .section__upcoming__events {
    padding: 40px;
  }

  .section__upcoming__events .events__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .section__upcoming__events .events__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ===================================================================== */

.section__last__service {
  background: #f6f8fa;
  min-height: 70vh;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.section__last__service .service__video {
  min-width: 50vw;
  display: flex;
  place-content: center;
}

.section__last__service .service__video iframe {
  width: 90%;
  height: 340px;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .section__last__service {
    padding: 40px;
    flex-direction: column;
  }
  .section__last__service .service__video {
    min-width: 100vw;
  }
}

/* ==================== section__teams ==================== */

.section__teams {
  display: grid;
  padding: 80px;
  gap: 20px;
}

.teams__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.teams__list .card__team {
  background-color: #fff;
  color: #272727;
  display: grid;
  border-radius: 10px;
  transition: all ease-in-out 1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
}

.teams__list .card__team .card__image {
  height: 220px;
  position: relative;
}

.teams__list .card__team .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.teams__list .card__team .card__image::after {
  content: "";
  background-color: transparent; /* Color inicial invisible */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: all ease-in-out 0.5s;
}

.teams__list .card__team:hover .card__image::after {
  background-color: #0b446da5; /* Color visible al hacer hover */
}

.teams__list .card__team .card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #555555;
}

.teams__list .card__team .card__content a {
  width: max-content;
  color: #fff;
  padding: 10px;
  margin-top: 16px;
  font-size: 12px;
  background-color: #073455;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.section__teams .teams__buttons a {
  width: max-content;
  color: #fff;
  padding: 10px;
  margin-top: 16px;
  font-size: 12px;
  background-color: #073455;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.section__teams .teams__buttons {
  display: grid;
  place-content: center;
  text-align: center;
}

.section__teams .teams__buttons a {
  background-color: #fff;
  color: #272727;
  border: solid #272727 1px;
  padding: 14px;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}

.section__teams .teams__buttons a:hover {
  color: #fff;
  background-color: #073455;
  border-color: transparent;
}

@media screen and (max-width: 992px) {
  .section__teams {
    padding: 40px;
  }
  .teams__list {
    padding: 0px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .teams__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
